In [98]:
import json
import csv
import pandas as pd
import numpy as np

In [99]:
datafpt1 = pd.read_excel('data/datafptshop.xlsx')
datafpt1

,name,hard_drive,size,memory,price_selloff,price
0,iPhone 13 Pro Max 128GB,6 GB,6.7 inch,128 GB,30.490.000 ₫,33.990.000 ₫
1,OPPO Reno7 Z 5G 8GB - 128GB,8 GB,Chính: 6.43 inch,128 GB,10.490.000 ₫,NaN
2,Samsung Galaxy S22 Ultra 5G 128GB,8 GB,6.8 inch,128 GB,30.990.000 ₫,NaN
3,iPhone 11 64GB,4 GB,6.1 inch,64 GB,12.499.000 ₫,14.999.000 ₫
4,OPPO Reno7 8GB-128GB,8 GB,Chính: 6.4 inch,128 GB,8.490.000 ₫,8.990.000 ₫
...,...,...,...,...,...,...
110,iPhone SE 2022 64GB,3 GB,4.7 inch,256GB,11.990.000 ₫,12.990.000 ₫
111,Xiaomi Redmi Note 11 4GB - 64GB,4 GB,6.43 inch,NaN,4.490.000 ₫,4.690.000 ₫
112,Xiaomi Redmi 9C 4GB-128GB,4 GB,6.53 inch,NaN,3.290.000 ₫,3.490.000 ₫
113,Realme C11 2021 2GB - 32GB,2 GB,6.5 inch,NaN,2.690.000 ₫,2.990.000 ₫
114,Realme C21y 3GB - 32GB,3 GB,6.5 inch,NaN,2.690.000 ₫,3.190.000 ₫

In [100]:
df_datafpt1= pd.DataFrame(datafpt1,
                       columns=['name','hard_drive','size','memory',
                                'price_selloff','price','brand','store'])
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6 GB,6.7 inch,128 GB,30.490.000 ₫,33.990.000 ₫,NaN,NaN
1,OPPO Reno7 Z 5G 8GB - 128GB,8 GB,Chính: 6.43 inch,128 GB,10.490.000 ₫,NaN,NaN,NaN
2,Samsung Galaxy S22 Ultra 5G 128GB,8 GB,6.8 inch,128 GB,30.990.000 ₫,NaN,NaN,NaN
3,iPhone 11 64GB,4 GB,6.1 inch,64 GB,12.499.000 ₫,14.999.000 ₫,NaN,NaN
4,OPPO Reno7 8GB-128GB,8 GB,Chính: 6.4 inch,128 GB,8.490.000 ₫,8.990.000 ₫,NaN,NaN

In [102]:
df_datafpt1['store']='fptshop'

In [103]:
brand=[]
for i in df_datafpt1['name']:
    brand.append(i.split(' ')[0])
df_datafpt1['brand']=brand

In [104]:
df_datafpt1

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6 GB,6.7 inch,128 GB,30.490.000 ₫,33.990.000 ₫,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8 GB,Chính: 6.43 inch,128 GB,10.490.000 ₫,NaN,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8 GB,6.8 inch,128 GB,30.990.000 ₫,NaN,Samsung,fptshop
3,iPhone 11 64GB,4 GB,6.1 inch,64 GB,12.499.000 ₫,14.999.000 ₫,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8 GB,Chính: 6.4 inch,128 GB,8.490.000 ₫,8.990.000 ₫,OPPO,fptshop
...,...,...,...,...,...,...,...,...
110,iPhone SE 2022 64GB,3 GB,4.7 inch,256GB,11.990.000 ₫,12.990.000 ₫,iPhone,fptshop
111,Xiaomi Redmi Note 11 4GB - 64GB,4 GB,6.43 inch,NaN,4.490.000 ₫,4.690.000 ₫,Xiaomi,fptshop
112,Xiaomi Redmi 9C 4GB-128GB,4 GB,6.53 inch,NaN,3.290.000 ₫,3.490.000 ₫,Xiaomi,fptshop
113,Realme C11 2021 2GB - 32GB,2 GB,6.5 inch,NaN,2.690.000 ₫,2.990.000 ₫,Realme,fptshop
114,Realme C21y 3GB - 32GB,3 GB,6.5 inch,NaN,2.690.000 ₫,3.190.000 ₫,Realme,fptshop

In [105]:
memory = []
df_datafpt1
for i in df_datafpt1['memory']:
    if str(i)=='nan':
        memory.append('0')
        continue
    x=str(i).replace(" GB","")
    x=x.replace(" MB","")
    x=x.replace(" GB","")
    x=x.replace("B","")
    a=x.find('-')
    if a!=-1:
        x=x.replace(x[0:a+1],'')
    x=x.replace("G","")
    memory.append(x)
memory
df_datafpt1['memory']=memory
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6 GB,6.7 inch,128,30.490.000 ₫,33.990.000 ₫,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8 GB,Chính: 6.43 inch,128,10.490.000 ₫,NaN,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8 GB,6.8 inch,128,30.990.000 ₫,NaN,Samsung,fptshop
3,iPhone 11 64GB,4 GB,6.1 inch,64,12.499.000 ₫,14.999.000 ₫,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8 GB,Chính: 6.4 inch,128,8.490.000 ₫,8.990.000 ₫,OPPO,fptshop

In [36]:
df_datafpt1.dtypes

name             object
hard_drive       object
size             object
memory           object
price_selloff    object
price            object
brand            object
store            object
dtype: object

In [106]:
df_datafpt1['memory']=df_datafpt1['memory'].apply(np.int64)

In [107]:
hard_drive = []
for i in df_datafpt1['hard_drive']:
    if str(i)=='nan':
        hard_drive.append('0')
    else:
        x=str(i).replace(" GB",'')
        x=x.replace(" MB",'')
        a=x.find('+')
        if a !=-1:
            x=x.replace(x[a-1:],'')
        hard_drive.append(x)
df_datafpt1['hard_drive']=hard_drive
df_datafpt1['hard_drive']=df_datafpt1['hard_drive'].apply(np.int64)
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6,6.7 inch,128,30.490.000 ₫,33.990.000 ₫,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8,Chính: 6.43 inch,128,10.490.000 ₫,NaN,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8,6.8 inch,128,30.990.000 ₫,NaN,Samsung,fptshop
3,iPhone 11 64GB,4,6.1 inch,64,12.499.000 ₫,14.999.000 ₫,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8,Chính: 6.4 inch,128,8.490.000 ₫,8.990.000 ₫,OPPO,fptshop

In [108]:
size = []
for i in df_datafpt1['size']:
    if str(i)=='nan' or str(i).find('MB')!=-1 or str(i).find('GB')!=-1:
        size.append('')
    else:
        x=str(i).replace(" inch",'')
        x=x.replace("Chính: ",'')
        a=x.find('Ph')
        if a !=-1:
            x=x.replace(x[a-1:],'')
        size.append(x)
df_datafpt1['size']=size
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6,6.7,128,30.490.000 ₫,33.990.000 ₫,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8,6.43,128,10.490.000 ₫,NaN,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8,6.8,128,30.990.000 ₫,NaN,Samsung,fptshop
3,iPhone 11 64GB,4,6.1,64,12.499.000 ₫,14.999.000 ₫,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8,6.4,128,8.490.000 ₫,8.990.000 ₫,OPPO,fptshop

In [109]:
 price_selloff= []
for i in df_datafpt1['price_selloff']:
    if str(i)=='nan':
        price_selloff.append('0')
    else:
        x=str(i).replace(" ₫",'')
        x=x.replace(".",'')
        price_selloff.append(x)
price_selloff
df_datafpt1['price_selloff']=price_selloff
df_datafpt1['price_selloff']=df_datafpt1['price_selloff'].apply(np.int64)
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6,6.7,128,30490000,33.990.000 ₫,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8,6.43,128,10490000,NaN,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8,6.8,128,30990000,NaN,Samsung,fptshop
3,iPhone 11 64GB,4,6.1,64,12499000,14.999.000 ₫,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8,6.4,128,8490000,8.990.000 ₫,OPPO,fptshop

In [110]:
 price= []
for i in df_datafpt1['price']:
    if str(i)=='nan':
        price.append('0')
    else:
        x=str(i).replace(" ₫",'')
        x=x.replace(".",'')
        price.append(x)
price
df_datafpt1['price']=price
df_datafpt1['price']=df_datafpt1['price'].apply(np.int64)
df_datafpt1.head()

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6,6.7,128,30490000,33990000,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8,6.43,128,10490000,0,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8,6.8,128,30990000,0,Samsung,fptshop
3,iPhone 11 64GB,4,6.1,64,12499000,14999000,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8,6.4,128,8490000,8990000,OPPO,fptshop

In [111]:
df_datafpt1

,name,hard_drive,size,memory,price_selloff,price,brand,store
0,iPhone 13 Pro Max 128GB,6,6.7,128,30490000,33990000,iPhone,fptshop
1,OPPO Reno7 Z 5G 8GB - 128GB,8,6.43,128,10490000,0,OPPO,fptshop
2,Samsung Galaxy S22 Ultra 5G 128GB,8,6.8,128,30990000,0,Samsung,fptshop
3,iPhone 11 64GB,4,6.1,64,12499000,14999000,iPhone,fptshop
4,OPPO Reno7 8GB-128GB,8,6.4,128,8490000,8990000,OPPO,fptshop
...,...,...,...,...,...,...,...,...
110,iPhone SE 2022 64GB,3,4.7,256,11990000,12990000,iPhone,fptshop
111,Xiaomi Redmi Note 11 4GB - 64GB,4,6.43,0,4490000,4690000,Xiaomi,fptshop
112,Xiaomi Redmi 9C 4GB-128GB,4,6.53,0,3290000,3490000,Xiaomi,fptshop
113,Realme C11 2021 2GB - 32GB,2,6.5,0,2690000,2990000,Realme,fptshop
114,Realme C21y 3GB - 32GB,3,6.5,0,2690000,3190000,Realme,fptshop

In [112]:
df_datafpt1.to_csv('fptshop_final.csv')

In [28]:
data_tgdd = pd.read_excel('data/dataTGDD.xlsx')
data_tgdd

,name,memory,price_selloff,price,ratings
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30.990.000₫,NaN,31.0
1,iPhone 11,64GB,12.490.000₫,14.990.000₫,832.0
2,OPPO Reno7 series,Reno7 Z 5G,10.490.000₫,NaN,210.0
3,Realme C35,64GB,4.290.000₫,NaN,128.0
4,Xiaomi 11T,128GB,10.990.000₫,NaN,334.0
...,...,...,...,...,...
116,Vivo Y21 series,Y21s 4GB,3.990.000₫,NaN,182.0
117,Realme C21-Y,4GB,3.690.000₫,NaN,16.0
118,Samsung Galaxy A12 (2021),6GB,3.490.000₫,4.290.000₫,272.0
119,Realme C11 series,C11 2021 4GB,2.990.000₫,NaN,77.0
120,Xiaomi Redmi 9C,4GB/128GB,2.990.000₫,NaN,190.0

In [29]:
df_tgdd= pd.DataFrame(data_tgdd,
                       columns=['name','memory',
                                'price_selloff','price','ratings','brand','store'])
df_tgdd.head()

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30.990.000₫,NaN,31.0,NaN,NaN
1,iPhone 11,64GB,12.490.000₫,14.990.000₫,832.0,NaN,NaN
2,OPPO Reno7 series,Reno7 Z 5G,10.490.000₫,NaN,210.0,NaN,NaN
3,Realme C35,64GB,4.290.000₫,NaN,128.0,NaN,NaN
4,Xiaomi 11T,128GB,10.990.000₫,NaN,334.0,NaN,NaN

In [30]:
df_tgdd['store']='fptshop'

In [31]:
brand=[]
for i in df_tgdd['name']:
    brand.append(i.split(' ')[0])
df_tgdd['brand']=brand
df_tgdd

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30.990.000₫,NaN,31.0,Samsung,fptshop
1,iPhone 11,64GB,12.490.000₫,14.990.000₫,832.0,iPhone,fptshop
2,OPPO Reno7 series,Reno7 Z 5G,10.490.000₫,NaN,210.0,OPPO,fptshop
3,Realme C35,64GB,4.290.000₫,NaN,128.0,Realme,fptshop
4,Xiaomi 11T,128GB,10.990.000₫,NaN,334.0,Xiaomi,fptshop
...,...,...,...,...,...,...,...
116,Vivo Y21 series,Y21s 4GB,3.990.000₫,NaN,182.0,Vivo,fptshop
117,Realme C21-Y,4GB,3.690.000₫,NaN,16.0,Realme,fptshop
118,Samsung Galaxy A12 (2021),6GB,3.490.000₫,4.290.000₫,272.0,Samsung,fptshop
119,Realme C11 series,C11 2021 4GB,2.990.000₫,NaN,77.0,Realme,fptshop
120,Xiaomi Redmi 9C,4GB/128GB,2.990.000₫,NaN,190.0,Xiaomi,fptshop

In [34]:
 price= []
for i in df_tgdd['price']:
    if str(i)=='nan':
        price.append('0')
    else:
        x=str(i).replace("₫",'')
        x=x.replace(".",'')
        price.append(x)
price
df_tgdd['price']=price
df_tgdd['price']=df_tgdd['price'].apply(np.int64)
df_tgdd.head()

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30.990.000₫,0,31.0,Samsung,fptshop
1,iPhone 11,64GB,12.490.000₫,14990000,832.0,iPhone,fptshop
2,OPPO Reno7 series,Reno7 Z 5G,10.490.000₫,0,210.0,OPPO,fptshop
3,Realme C35,64GB,4.290.000₫,0,128.0,Realme,fptshop
4,Xiaomi 11T,128GB,10.990.000₫,0,334.0,Xiaomi,fptshop

In [38]:
 price_selloff= []
for i in df_tgdd['price_selloff']:
    if str(i)=='nan':
        price.append('0')
    else:
        x=str(i).replace("₫",'')
        x=x.replace(".",'')
        price_selloff.append(x)
price_selloff
df_tgdd['price_selloff']=price_selloff
df_tgdd['price_selloff']=df_tgdd['price_selloff'].apply(np.int64)
df_tgdd.head()

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30990000,0,31.0,Samsung,fptshop
1,iPhone 11,64GB,12490000,14990000,832.0,iPhone,fptshop
2,OPPO Reno7 series,Reno7 Z 5G,10490000,0,210.0,OPPO,fptshop
3,Realme C35,64GB,4290000,0,128.0,Realme,fptshop
4,Xiaomi 11T,128GB,10990000,0,334.0,Xiaomi,fptshop

In [43]:
df_tgdd['store']='The Gioi Di Dong'
df_tgdd

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30990000,0,31.0,Samsung,The Gioi Di Dong
1,iPhone 11,64GB,12490000,14990000,832.0,iPhone,The Gioi Di Dong
2,OPPO Reno7 series,Reno7 Z 5G,10490000,0,210.0,OPPO,The Gioi Di Dong
3,Realme C35,64GB,4290000,0,128.0,Realme,The Gioi Di Dong
4,Xiaomi 11T,128GB,10990000,0,334.0,Xiaomi,The Gioi Di Dong
...,...,...,...,...,...,...,...
116,Vivo Y21 series,Y21s 4GB,3990000,0,182.0,Vivo,The Gioi Di Dong
117,Realme C21-Y,4GB,3690000,0,16.0,Realme,The Gioi Di Dong
118,Samsung Galaxy A12 (2021),6GB,3490000,4290000,272.0,Samsung,The Gioi Di Dong
119,Realme C11 series,C11 2021 4GB,2990000,0,77.0,Realme,The Gioi Di Dong
120,Xiaomi Redmi 9C,4GB/128GB,2990000,0,190.0,Xiaomi,The Gioi Di Dong

In [40]:
data_HNam = pd.read_excel('data/dataHNAM.xlsx')
data_HNam

,name,price_selloff,price,ratings,status
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,44.990.000đ,2 đánh giá,"Kích hoạt điện tử, New 100%"
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,44.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%"
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,36.990.000đ,3 đánh giá,"Kích hoạt điện tử, New 100%"
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,49.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%"
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,NaN,1 đánh giá,"Kích hoạt điện tử, New 100%"
...,...,...,...,...,...
142,Nokia 215 4G 2020,839.000đ,NaN,NaN,Tạm hết hàng
143,Nokia 210,779.000đ,789.000đ,NaN,Tạm hết hàng
144,Symphony S50,360.000đ,NaN,NaN,Tạm hết hàng
145,Coolpad F210,300.000đ,NaN,NaN,Tạm hết hàng
146,Coolpad F110,190.000đ,NaN,NaN,Tạm hết hàng

In [42]:
df_hnam= pd.DataFrame(data_HNam,
                       columns=['name',
                                'price_selloff','price','ratings','status','brand','store'])
df_hnam.head()

,name,price_selloff,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,44.990.000đ,2 đánh giá,"Kích hoạt điện tử, New 100%",NaN,NaN
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,44.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",NaN,NaN
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,36.990.000đ,3 đánh giá,"Kích hoạt điện tử, New 100%",NaN,NaN
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,49.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",NaN,NaN
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,NaN,1 đánh giá,"Kích hoạt điện tử, New 100%",NaN,NaN

In [44]:
df_hnam['store']='Ha Nam Mobile'

In [46]:
brand=[]
for i in df_hnam['name']:
    if i.split(' ')[0]=='Apple':
        brand.append('iphone')
        continue
    brand.append(i.split(' ')[0])
brand
df_hnam['brand']=brand

In [48]:
df_hnam.insert(2, "hard_drive", "", True)

In [49]:
for i in df_hnam['name']:
    print(i)

Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB
Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB (New - BH12T)
Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB
Apple iPhone 13 Pro Max 1 sim 1T
Apple iPhone 13 Pro 1 sim 1T
Samsung Galaxy Z Fold3 5G F926 256GB Ram 12GB (New - BH12T)
Apple iPhone 13 Pro Max 1 sim 512GB
Samsung Galaxy Z Fold3 5G F926 256GB Ram 12GB
Apple iPhone 13 Pro Max 256GB VN/A
Apple iPhone 13 Pro Max 1 sim 256GB
Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB (New - BH12T)
Apple iPhone 13 Pro Max 128GB VN/A
Samsung Galaxy S22 Ultra 5G S908 128GB Ram 8GB
Apple iPhone 13 Pro 1 sim 256GB
Apple iPhone 13 Pro Max 1 sim 128GB
Apple iPhone 13 Pro 128GB VN/A
Apple iPhone 13 512GB VN/A
Apple iPhone 13 Pro 1 sim 128GB
Samsung Galaxy S22 Plus 5G S906 256GB Ram 8GB
Samsung Galaxy S22 Plus 5G S906 128GB Ram 8GB
Apple iPhone 13 256GB VN/A
Samsung Galaxy Z Fold2 F916 5G 256GB Ram 12GB
Samsung Galaxy S22 Ultra 5G S908 128GB Ram 8GB (New - BH12T)
Apple iPhone 13 1 sim 256GB
Samsung Galaxy Z Fold 2 F916
Samsung Galaxy S22 5G S901 256GB Ram 8GB
Samsung Galaxy S22 5G S901 128GB Ram 8GB
Samsung Galaxy Z Flip3 5G F711 256GB Ram 8GB
Apple iPhone 13 128GB VN/A
Apple iPhone 13 1 sim 128GB
Samsung Galaxy Z Flip3 5G F711 256GB Ram 8GB (New - BH12T)
Samsung Galaxy Z Flip3 5G F711 256GB Ram 8GB
Samsung Galaxy S22 Plus 5G S906 128GB Ram 8GB (New - BH12T)
Samsung Galaxy Z Flip3 5G F711 128GB Ram 8GB
Xiaomi 12 256GB Ram 8GB
Apple iPhone 12 128GB VN/A
Samsung Galaxy S22 5G S901 128GB Ram 8GB (New - BH12T)
Apple iPhone 12 Mini 256Gb VN/A
Apple iPhone 12 64GB VN/A
Apple iPhone 11 1 Sim 128GB VN/A
Apple iphone SE 3 2022 128GB VN/A
Samsung Galaxy S21 FE 5G G990 256GB Ram 8GB (New - BH12T)
Samsung Galaxy S21 FE 5G G990 256GB Ram 8GB
Samsung Galaxy S21 FE 5G G990 128GB Ram 6GB
Apple iPhone 11 1 Sim 64GB VN/A
Apple iphone SE 3 2022 64GB VN/A
Samsung Galaxy A73 A736 5G 128GB Ram 8GB
OPPO Reno7Z 5G
Samsung Galaxy A53 A536 5G 128GB Ram 8GB
Mi 11 Lite 5G NE 128GB RAM 8GB
Xiaomi POCO F3 5G 128GB Ram 6GB
Xiaomi Redmi Note 11 Pro 5G 8GB RAM 128
OPPO Reno7 4G
Samsung Galaxy A33 A336 5G 128GB Ram 6GB
Samsung Galaxy A33 A336 5G 128GB Ram 6GB (New - BH12T)
Xiaomi POCO X4 Pro 5G 128GB RAM 6GB
Xiaomi Redmi Note 11 Pro 8GB RAM 128GB
OPPO A95 4G 128GB Ram 8GB
Xiaomi Redmi Note 11S 128GB Ram 8GB
Samsung Galaxy A32 A325 128GB Ram 6GB
Xiaomi POCO M4 Pro 5G 6GB RAM 128GB
Samsung Galaxy A32 A325 128GB Ram 6GB (New - BH12T)
OPPO A76 4G 128GB Ram 6GB
Xiaomi Redmi Note 10S
Samsung Galaxy A23 A235 128GB Ram 4GB
Xiaomi Redmi Note 11 128GB RAM 4GB
OPPO A55 4G 64GB Ram 4GB
Xiaomi Redmi Note 11 64GB RAM 4GB
Samsung Galaxy A13 A135 128GB Ram 4GB
Xiaomi Redmi 10 128GB RAM 4GB (2022)
Samsung Galaxy A12 A127 128GB Ram 4GB
Nokia G21 128GB Ram 4GB
OPPO A16 32GB RAM 3GB
Tecno Pova 2 64GB Ram 4GB
Xiaomi Redmi 10C 128GB Ram 4GB
OPPO A16K 32GB RAM 3GB
Xiaomi Redmi 9C 128GB Ram 4GB
OPPO A16K 32GB RAM 3GB (Đã kích hoạt)
Tecno Pova Spark 8C 64GB Ram 4GB
Tecno Spark 7T 64GB Ram 4GB
Nokia C30 32GB RAM 3GB
Samsung Galaxy A03 A035 32GB Ram 3GB
Samsung Galaxy A03 A035 32GB Ram 3GB (New - BH12T)
Nokia C21 Plus 64GB RAM 2GB
Xiaomi Redmi 9A 32GB Ram 2GB
Nokia C20 32GB Ram 2GB
Nokia 110 Dual (2021)
Nokia 105 Dual (2021)
Xiaomi 12 Pro 5G 256GB Ram 12 GB
Samsung Galaxy Z Flip3 5G F711 128GB Flex Your Way Limited Edition
Apple iPhone 13 VN/A
Itel it9210 4G
Apple iPhone 13 Pro Max 1T VN/A
Apple iPhone 13 Pro 1T VN/A
Samsung Galaxy S22 Ultra 5G S908 256GB Ram 12GB
Samsung Galaxy Z Fold3 5G F926 256GB Ram 12GB
Apple iPhone 13 Pro 256GB VN/A
Apple iPhone 12 Pro Max 1 sim 256GB
Apple iPhone 13 mini 512GB VN/A
Samsung Galaxy S22 Ultra 5G S908 256GB Ram 12GB (New - BH12T)
Apple iPhone 13 1 sim 512GB
Apple iPhone 13 2 sim 128GB
Samsung Galaxy Z Fold2 5G F916 256GB Ram 12GB (New - BH12T)
Apple iPhone 13 mini 256GB VN/A
Apple iPhone 11 Pro Max 1 Sim 64GB
Samsung Galaxy S22 Plus 5G S906 256GB Ram 8GB (New - BH12T)
Samsung Galaxy Note 20 Ultra 5G N986 (New - BH12T)
Apple iPhone 13 mini 128GB VN/A
Samsung Galaxy Note 20 Ultra 5G N986 512GB
Samsung Galaxy Note 20 Ultra N985 (New - BH12T)
Apple iphone SE 3 2022 256GB VN/A
HTC U11 Plus
BlackBerry KEY2
Samsung Galaxy S21 FE 5G G990 128GB Ram 8GB
Samsung Galaxy Note 20 N980 (New - BH12T)
OPPO Reno7 5G
Samsung Galaxy S21 FE 5G G990 128GB Ram 6GB (New - BH12T)
Apple iPhone SE 2020 64GB
Mi 11T 5G 128GB RAM 8GB
Samsung Galaxy A72 A725 (New - BH12T)
Samsung Galaxy A72 A725
Samsung Galaxy A53 A536 5G 128GB Ram 8GB (New - BH12T)
Samsung Galaxy A52 A525 (New-BH12T)
Blackberry Keyone Silver
Samsung Galaxy A22 LTE A225 (New - BH12T)
Samsung Galaxy M31 M315 (New - BH12T)
Lenovo K6 Note (K53A48)
Xiaomi Redmi Note 10 5G
Xiaomi Redmi 10 128GB RAM 4GB
Samsung Galaxy A13 A135 128GB Ram 4GB (New - BH12T)
Huawei Y9 2019
Tecno Pova 2 128GB Ram 6GB
Samsung Galaxy A12 A125 128GB Ram 4GB (New - BH12T)
Samsung Galaxy A12 A125 128GB Ram 4GB
Samsung Galaxy A03s A037 64GB Ram 4GB
Samsung Galaxy A12 A127 128GB Ram 4GB (New - BH12T)
Samsung Galaxy A03s A037 64GB Ram 4GB (New - BH12T)
Nokia G10 64GB Ram 4GB
HTC Desire 626G Plus
Nokia C2 16GB Ram 1GB
Coolpad Fancy Plus (E561)
HTC Desire 210 Dual Sim
Nokia 215 4G 2020
Nokia 210
Symphony S50
Coolpad F210
Coolpad F110

In [62]:
hard_drive=[]
memory=[]
for i in df_hnam['name']:
    x=str(i).split(' ')
    check=False
    for i in range(len(x)):
        if str(x[i])=='Ram':
            hard_drive.append(str(x[i+1]))
            memory.append(str(x[i-1]))
            check=True
            break
    if check==False:
        hard_drive.append('0')
        for i in range(len(x)):
            if str(x[i]).find('GB')!=-1 or str(x[i]).find('T')!=-1:
                memory.append(str(x[i]))
                check=True
                break
    if check==False:
        memory.append('0')   
hard_drive
memory

['512GB',
 '512GB',
 '512GB',
 '1T',
 '1T',
 '256GB',
 '512GB',
 '256GB',
 '256GB',
 '256GB',
 '512GB',
 '128GB',
 '128GB',
 '256GB',
 '128GB',
 '128GB',
 '512GB',
 '128GB',
 '256GB',
 '128GB',
 '256GB',
 '256GB',
 '128GB',
 '256GB',
 '0',
 '256GB',
 '128GB',
 '256GB',
 '128GB',
 '128GB',
 '256GB',
 '256GB',
 '128GB',
 '128GB',
 '256GB',
 '128GB',
 '128GB',
 '0',
 '64GB',
 '128GB',
 '128GB',
 '256GB',
 '256GB',
 '128GB',
 '64GB',
 '64GB',
 '128GB',
 '0',
 '128GB',
 '128GB',
 '128GB',
 '8GB',
 '0',
 '128GB',
 '128GB',
 '128GB',
 '8GB',
 '128GB',
 '128GB',
 '128GB',
 '6GB',
 '128GB',
 '128GB',
 '0',
 '128GB',
 '128GB',
 '64GB',
 '64GB',
 '128GB',
 '128GB',
 '128GB',
 '128GB',
 '32GB',
 '64GB',
 '128GB',
 '32GB',
 '128GB',
 '32GB',
 '64GB',
 '64GB',
 '32GB',
 '32GB',
 '32GB',
 '64GB',
 '32GB',
 '32GB',
 '0',
 '0',
 '256GB',
 '128GB',
 '0',
 '0',
 '1T',
 '1T',
 '256GB',
 '256GB',
 '256GB',
 '256GB',
 '512GB',
 '256GB',
 '512GB',
 '128GB',
 '256GB',
 '256GB',
 '64GB',
 '256GB',
 'BH12T)',
 '128GB',
 '512GB',
 'BH12T)',
 '256GB',
 'HTC',
 '0',
 '128GB',
 'BH12T)',
 '0',
 '128GB',
 '64GB',
 '11T',
 'BH12T)',
 '0',
 '128GB',
 '(New-BH12T)',
 '0',
 'LTE',
 'BH12T)',
 '0',
 '0',
 '128GB',
 '128GB',
 '0',
 '128GB',
 '128GB',
 '128GB',
 '64GB',
 '128GB',
 '64GB',
 '64GB',
 'HTC',
 '16GB',
 '0',
 'HTC',
 '0',
 '0',
 '0',
 '0',
 '0']

In [63]:
df_hnam['hard_drive']=hard_drive
df_hnam

,name,price_selloff,hard_drive,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,12GB,44.990.000đ,2 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,12GB,44.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,12GB,36.990.000đ,3 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,0,49.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,0,NaN,1 đánh giá,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
...,...,...,...,...,...,...,...,...
142,Nokia 215 4G 2020,839.000đ,0,NaN,NaN,Tạm hết hàng,Nokia,Ha Nam Mobile
143,Nokia 210,779.000đ,0,789.000đ,NaN,Tạm hết hàng,Nokia,Ha Nam Mobile
144,Symphony S50,360.000đ,0,NaN,NaN,Tạm hết hàng,Symphony,Ha Nam Mobile
145,Coolpad F210,300.000đ,0,NaN,NaN,Tạm hết hàng,Coolpad,Ha Nam Mobile
146,Coolpad F110,190.000đ,0,NaN,NaN,Tạm hết hàng,Coolpad,Ha Nam Mobile

In [64]:
df_hnam.insert(2, "memory", "", True)
df_hnam['memory']=memory
df_hnam

,name,price_selloff,memory,hard_drive,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,512GB,12GB,44.990.000đ,2 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,512GB,12GB,44.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,512GB,12GB,36.990.000đ,3 đánh giá,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,1T,0,49.990.000đ,1 đánh giá,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,1T,0,NaN,1 đánh giá,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
...,...,...,...,...,...,...,...,...,...
142,Nokia 215 4G 2020,839.000đ,0,0,NaN,NaN,Tạm hết hàng,Nokia,Ha Nam Mobile
143,Nokia 210,779.000đ,0,0,789.000đ,NaN,Tạm hết hàng,Nokia,Ha Nam Mobile
144,Symphony S50,360.000đ,0,0,NaN,NaN,Tạm hết hàng,Symphony,Ha Nam Mobile
145,Coolpad F210,300.000đ,0,0,NaN,NaN,Tạm hết hàng,Coolpad,Ha Nam Mobile
146,Coolpad F110,190.000đ,0,0,NaN,NaN,Tạm hết hàng,Coolpad,Ha Nam Mobile

In [69]:
ratings=[]
for i in df_hnam['ratings']:
    if str(i)=='nan':
        ratings.append(0)
    else:
        ratings.append(str(i).replace(" đánh giá",''))
df_hnam['ratings']=ratings
df_hnam['ratings']=df_hnam['ratings'].apply(np.int64)
df_hnam

,name,price_selloff,memory,hard_drive,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,512GB,12GB,44.990.000đ,2,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,512GB,12GB,44.990.000đ,1,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,512GB,12GB,36.990.000đ,3,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,1T,0,49.990.000đ,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,1T,0,NaN,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
...,...,...,...,...,...,...,...,...,...
142,Nokia 215 4G 2020,839.000đ,0,0,NaN,0,Tạm hết hàng,Nokia,Ha Nam Mobile
143,Nokia 210,779.000đ,0,0,789.000đ,0,Tạm hết hàng,Nokia,Ha Nam Mobile
144,Symphony S50,360.000đ,0,0,NaN,0,Tạm hết hàng,Symphony,Ha Nam Mobile
145,Coolpad F210,300.000đ,0,0,NaN,0,Tạm hết hàng,Coolpad,Ha Nam Mobile
146,Coolpad F110,190.000đ,0,0,NaN,0,Tạm hết hàng,Coolpad,Ha Nam Mobile

In [72]:
 price= []
for i in df_hnam['price']:
    if str(i)=='nan':
        price.append('0')
    else:
        x=str(i).replace("đ",'')
        x=x.replace(".",'')
        price.append(x)
price
df_hnam['price']=price
df_hnam['price']=df_hnam['price'].apply(np.int64)
df_hnam.head()

,name,price_selloff,memory,hard_drive,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35.199.000đ,512GB,12GB,44990000,2,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34.799.000đ,512GB,12GB,44990000,1,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29.290.000đ,512GB,12GB,36990000,3,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
3,Apple iPhone 13 Pro Max 1 sim 1T,33.999.000đ,1T,0,49990000,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
4,Apple iPhone 13 Pro 1 sim 1T,33.499.000đ,1T,0,0,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile

In [89]:
price_selloff= []
for i in df_hnam['price_selloff']:
    if str(i)=='nan':
        price_selloff.append('0')
    else:
        x=str(i).replace("đ",'')
        x=x.replace(".",'')
        price_selloff.append(x)
price_selloff
df_hnam['price_selloff']=price_selloff
df_hnam['price_selloff']=df_hnam['price_selloff'].apply(np.int64)
df_hnam.head()

,name,price_selloff,memory,hard_drive,price,ratings,status,brand,store
0,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB,35199000,512GB,12GB,44990000,2,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
1,Samsung Galaxy Z Fold3 5G F926 512GB Ram 12GB ...,34799000,512GB,12GB,44990000,1,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
2,Samsung Galaxy S22 Ultra 5G S908 512GB Ram 12GB,29290000,512GB,12GB,36990000,3,"Kích hoạt điện tử, New 100%",Samsung,Ha Nam Mobile
3,Apple iPhone 13 Pro Max 1 sim 1T,33999000,1T,0,49990000,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile
4,Apple iPhone 13 Pro 1 sim 1T,33499000,1T,0,0,1,"Kích hoạt điện tử, New 100%",iphone,Ha Nam Mobile

In [90]:
df_hnam.to_csv('hanammobile_final.csv')

In [93]:
df_datafpt1

,name,price_selloff,price,ratings,status,brand,store
0,iPhone 13 Pro Max 128GB,30.490.000 ₫,33.990.000 ₫,NaN,NaN,NaN,NaN
1,OPPO Reno7 Z 5G 8GB - 128GB,10.490.000 ₫,NaN,NaN,NaN,NaN,NaN
2,Samsung Galaxy S22 Ultra 5G 128GB,30.990.000 ₫,NaN,NaN,NaN,NaN,NaN
3,iPhone 11 64GB,12.499.000 ₫,14.999.000 ₫,NaN,NaN,NaN,NaN
4,OPPO Reno7 8GB-128GB,8.490.000 ₫,8.990.000 ₫,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
110,iPhone SE 2022 64GB,11.990.000 ₫,12.990.000 ₫,NaN,NaN,NaN,NaN
111,Xiaomi Redmi Note 11 4GB - 64GB,4.490.000 ₫,4.690.000 ₫,NaN,NaN,NaN,NaN
112,Xiaomi Redmi 9C 4GB-128GB,3.290.000 ₫,3.490.000 ₫,NaN,NaN,NaN,NaN
113,Realme C11 2021 2GB - 32GB,2.690.000 ₫,2.990.000 ₫,NaN,NaN,NaN,NaN
114,Realme C21y 3GB - 32GB,2.690.000 ₫,3.190.000 ₫,NaN,NaN,NaN,NaN

In [94]:
df_datafpt1.to_csv('fptshop_final.csv')

In [95]:
df_tgdd

,name,memory,price_selloff,price,ratings,brand,store
0,Samsung Galaxy S22 Ultra 5G,8GB/128GB,30990000,0,31.0,Samsung,The Gioi Di Dong
1,iPhone 11,64GB,12490000,14990000,832.0,iPhone,The Gioi Di Dong
2,OPPO Reno7 series,Reno7 Z 5G,10490000,0,210.0,OPPO,The Gioi Di Dong
3,Realme C35,64GB,4290000,0,128.0,Realme,The Gioi Di Dong
4,Xiaomi 11T,128GB,10990000,0,334.0,Xiaomi,The Gioi Di Dong
...,...,...,...,...,...,...,...
116,Vivo Y21 series,Y21s 4GB,3990000,0,182.0,Vivo,The Gioi Di Dong
117,Realme C21-Y,4GB,3690000,0,16.0,Realme,The Gioi Di Dong
118,Samsung Galaxy A12 (2021),6GB,3490000,4290000,272.0,Samsung,The Gioi Di Dong
119,Realme C11 series,C11 2021 4GB,2990000,0,77.0,Realme,The Gioi Di Dong
120,Xiaomi Redmi 9C,4GB/128GB,2990000,0,190.0,Xiaomi,The Gioi Di Dong

In [96]:
df_tgdd.to_csv('thegioididong_final.csv')